---
layout: default
title: Publications | Moritz Lampert
banner_title: Publications
banner_subtitle: Peer-Reviewed and Workshop Publications
description: Peer-reviewed and workshop publications by Moritz Lampert on temporal graph learning, graph neural networks, and machine learning on graphs.
og_description: Peer-reviewed and workshop publications on temporal graph learning, graph neural networks, and machine learning on graphs.
---
<!-- Entries live in _data/publications.yml -->
<div class="box">
    <div class="col-12">
        <ul class="alt text-center">
            {% for pub in site.data.publications %}
            <li>
                <strong>{{ pub.title }}</strong> <br>
                <i><span class="authors">{{ pub.authors }}</span></i> <br>
                {{ pub.venue }}
                <ul class="icons">
                    {% for link in pub.links %}
                    <li><a href="{{ link.url }}" class="icon" aria-label="{% if link.type == 'pdf' %}PDF{% else %}Code{% endif %}">{% if link.type == 'pdf' %}{% include icons/file-pdf.svg %}{% else %}{% include icons/file-code.svg %}{% endif %}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
